body {
      color: #0f0;
      padding: none;
      background: black;
      font-family: Consolas, "Courier New", monospace;
}

#calculator {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border: solid goldenrod;
}

#calculator_display { 
      width: 1080px;
      height: 565px;
      background: #0C0C0C;    
}

#buttons_layout {
      margin: 8px 0;
      display: grid;
      grid-template-columns: repeat(6, 150px);
      grid-template-rows: repeat(3, 100px);
      gap: 8px;
      justify-content: center;
      border: solid goldenrod;
}

@media (max-width: 980px) {
      #buttons_layout {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-rows: 100px;
      }
}

.div_button {
      display: flex;
      justify-content: center;
}

.calc_button {
      width: 100%;
      height: 100%;
      font-size: 20px;
      border-radius: 20px;
      border: none;
}

.big_button {
      grid-row: span 2;
}
