body {
      color: #0f0;
      padding: none;
      background: hsl(0, 0%, 15%);
      font-family: Consolas, "Courier New", monospace;
}

#calculator {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border: none;
}

#calculator_display { 
      color: #0f0;
      width: 1080px;
      height: 565px;
      background: #0C0C0C;    
}

#buttons_layout {
      margin: 8px 0;
      display: grid;
      grid-template-columns: repeat(6, 150px);
      grid-template-rows: repeat(3, 100px);
      gap: 8px;
      justify-content: center;
      border: none;
}

@media (max-width: 980px) {
      #buttons_layout {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-rows: 100px;
      }
}

.div_button {
      display: flex;
      justify-content: center;
}

.calc_button {
      width: 100%;
      height: 100%;
      font-size: 25px;
      border-radius: 20px;
      border: none;
}

.color_button_gray {
      color: whitesmoke;
      background-color: hsl(0, 0%, 30%); 
}

.color_button_gray:hover {
      background-color: hsl(0, 0%, 40%); 
}

.color_button_gray:active {
      background-color: hsl(0, 0%, 50%); 
}

.color_button_white {
      color: hsl(0, 0%, 15%); 
}

.color_button_white:hover {
      background-color: hsl(0, 0%, 70%); 
}

.color_button_white:active {
      background-color: hsl(0, 0%, 80%);
} 
